.u-margin-top-1 {
    margin-top: $margin-1;
}

.u-margin-top-5 {
    margin-top: $margin-5;
}

.u-margin-top-10 {
    margin-top: $margin-10;
}

.u-margin-bottom-1 {
    margin-bottom: $margin-1;
}

.u-padding-top-5 {
    padding-top: $padding-5;
}

.u-padding-top-10 {
    padding-top: $padding-10;
}

.test:active .test2 {
    display: none;
}

.u-hidden {
    opacity: 0;
}