$color-text-light-1: #eeeeee;

$color-black-1: #000;
$color-white-1: #fff;

$color-background-dark-1: #151B20;
$color-background-dark-2: #1e272e;

$color-grey-dark-1: #424242;

$color-header-1: #2196F3;

$color-blue-1: #1a237e;;

$color-lightblue-1: #0288d1;

$color-red-1: #b71c1c;

$color-purple-1: #4a148c;

$color-cyan-1: #0097a7;

$color-orange-1: #e65100;
$color-orange-2: #f57c00;


$button-default: #424242;

$border-radius: .3rem;

// grids
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 1rem;
$gutter-horizontal: 5%;

$margin-1: 3rem;
$margin-5: 5rem;
$margin-10: 10rem;
$padding-1: 3rem;
$padding-5: 5rem;
$padding-10: 10rem;