.header {
    &__box {
    position: fixed;
    top: 0;
    left: 2.5vw;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    background-color: $color-background-dark-2;
    z-index: 100;
    @include box-shadow-1;

    @include respond(tab-port) {
        padding: 1rem;
        }
    }
}